@using FinancialDucks.Application.Extensions
@using FinancialDucks.Application.Features
@using FinancialDucks.Application.Models.AppModels

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Matched Categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Results.NullToEmpty())
        {
            <tr>
                <td>@result.Transaction.Description</td>
                <td>@result.Transaction.Date.ToShortDateString()</td>
                <td><NeutralCurrencyLabel Amount="@result.Transaction.Amount" /></td>
                <td>
                    @foreach (var category in result.MatchedCategories)
                    {
                        <button class="btn btn-outline-primary btn-sm me-1 mb-1" @onclick="async () => await OnCategoryClicked(result, category)">
                            @category.Name
                        </button>
                    }
                    <button class="btn btn-outline-primary btn-sm me-1 mb-1" @onclick="async () => await OnCategoryClicked(result, null)">
                        Other
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if(Results.IsNullOrEmpty())
{
    <div class="d-flex justify-content-center my-4">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

<nav aria-label="Page navigation">
    <Pagination Page="@Page" PageSize="@PageSize" TotalPages="@TotalPages" OnPageChanged="SetPage" />
</nav>

<CategoryQuickAdd Text="@SelectedTransactionText" Transaction="@SelectedTransaction" Category="@SelectedCategory" />