@using FinancialDucks.Client2.Components.SimpleControls
@using FinancialDucks.Client2.Models

 <div class="row align-items-center">

     @if(Summary.TotalCredits != 0)
     {
        <div class="col">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Total Credits: @Summary.TotalCredits.ToString("C")</h5>
              </div>
            </div>
        </div>
     }

     @if(Summary.TotalDebits != 0)
     {
        <div class="col">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Total Debits: @Summary.TotalDebits.ToString("C")</h5>
              </div>
            </div>
        </div>
     }
  </div>

 <table class="table">
    <thead>
    <tr>
      <th scope="col" @onclick="ToggleSortDate">
        <span>Date</span>
        <SortIndicator Direction=@DateSortDirection />
      </th>
      <th scope="col" @onclick="ToggleSortAmount">
          <span>Amount</span>
          <SortIndicator Direction=@AmountSortDirection />
      </th>
      <th scope="col">Description</th>
      <th scope="col">Source</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
        @if(Loading)
        {
            <tr>
                <td>
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
            </tr>
        }
        else 
        {
            @foreach(var row in Transactions)
            {
                <tr>
                    <td>@row.Date.ToShortDateString()</td>
                    <td>
                        <CurrencyLabel Amount=@row.Amount />
                    </td>
                    <td>
                        <p @onmouseup="(e)=>OnTransactionMouseUp.InvokeAsync(new TransactionMouseUpEventArgs(e,row))">@row.Description</p>
                    </td>  
                    <td>@row.Source.Name</td>
                    <td>

                        <ul class="list-group list-group-horizontal-sm">
                            @foreach(var category in @row.Categories)
                            {
                                <li class="list-group-item">@category.Name</li>
                            }
                        </ul>

                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <Pagination Page="@Page" PageSize="@PageSize" TotalPages="@TotalPages" OnPageChanged="SetPage" />
</nav>